input {
  color: orange;
  width: 100px;
  line-height: 100px;
  margin: 6px;
  text-align: center;
  border: 1px dotted darkred;
  border-radius: 8px;
  outline: none;
  font-size: 4rem;
}

.caja {
  font-size: 3rem;
  display: flex;
  align-items: center;
}

button {
    font-size: 2rem;
    padding: 5px 15px;
    border: 1px solid darkred;
    border-radius: 8px;
    color: darkred;
    cursor: pointer;
}